<h1>Opportunities</h1>
<h3>Internships</h3>
<body>
We offer internships to current college students all year round. Interns will have the opportunity to work with the firm’s principals and associates on a variety of tasks, including but not limited to: writing event briefings for clients, donor research, outreach and follow-up, event planning and preparation. We encourage our interns to shadow associates at events for our clients to give them an up-close look at how political fundraising works in practice.
<br>
<br>
If you are interested in politics or just looking to gain experience working in a fast-paced office environment, please send your resume and a cover letter to our internship coordinator, Emily Mintz, at Emily@fkandcompany.com.
</body>
